/* // .detailPageHeader {
//    background: linear-gradient(to right, #6a3bc9 30%, #1589ee 70%);
//    position: fixed;
//    width: 100%;
// }
// .contactUsWrapper{ margin-top: 56px; background: #fff; box-shadow: 0 1px 1px 0 rgba(99,99,99,.2);height: 100vh; display: flex; flex-direction: column; /*justify-content: space-around;*/
/* //     .notificationText{padding: 10px 16px 20px 16px; 
//        .text{font-size: 11px;}
//      }
//     .pageWrapper{ padding: 0px 16px;
//       .form-group-query{ textarea{min-height: 100px; width: 100%;}

//       }
//    }
   
//    .actionWrapper { margin: 20px 16px 0px 16px; display: flex; justify-content: space-between; padding-bottom: 20px; width: 90%; 
//      span {border: 1px solid #A8B7C7;  border-radius: 2px; width: 90%; display: flex; justify-content: center; align-items: center; padding: 4px}
//       .cancel{margin-right: 10px; background: #fff;}
//       .submit{margin-left: 10px; background: #1589ee; color: #fff;}
//    }
// }
// .contactUsWrapper .pageWrapper .form-group-query textarea { border: 1px solid #A8B7C7; }
// .webPageContactWrapper{max-width: 720px;  margin: auto; margin-top: 60px;} */ 