.prodWrap {margin: 10px 0px;}
.contentWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 20px 0px;
}
.tokenList{border: 1px solid #eceff5; min-height: 140px;
    min-width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;}

    /* span.my-gift-store-icon-no{
        width: 25px; height: 16px;
    } */

   .butonWrap {right: -5px !important;
    top: -5px !important;
    font-size: 18px;} 
    .main_content_inner { min-height: 40 vh;}

    .video-grid-slider.mt-4.uk-slider.uk-slider-container{ margin-top: 45px !important;}
