.input-group textarea{
    border: 0px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: top;
    min-height: 80px;
    width: 100%;
    padding: 10px;
}

.single-message-left{
  width: 100%; margin: 5px 0px;
}
.single-message-text-time { top: 5px }
.reply {cursor: pointer;}

.default{ display: flex;
  justify-content: space-between;
  align-items: center;}

  .add-message-modal {
    min-height: 60vh !important;
}

.add-message-modal .add-message-form{
  margin: 20px 0px;
}