.componentWrapper {
    margin-bottom: 20px;
}

.uk-form-group {display: flex; flex-direction: row; justify-content: space-between;}
/* .form-group {width: 48%;} */
.form-group.form-group-depth-1.form-group-description {
    width: 100%;
}

.formWrapper{height: 450px; overflow-y: auto; overflow-x: hidden;}
.modalHeader {min-height: 40px !important;}
/* input{width: 100% !important;} */
input#productCategories-input-tfid-0-0 { width:2px !important}
.modalInnerContent {
    min-height: 60vh !important;
}

.store-inner-addcart-box {
    margin-top: 25px;
    display: flex;
}

button.btn-addcart.button.default {
    height: 32px;
}
