.form-group .input-group {
    border: 0 none;
    padding: 0px 16px;
    background: #fff;
    color: #666;
    border: 1px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
}
 .isShow{display: block;}

.form-group-comment {margin-top: 15px;}
.form-group-comment .input-group textarea{
    border: 0px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: top;
    min-height: 80px;
    width: 100%;
    padding: 10px;
}
.warning {cursor: pointer;}
.submitButton {
    display: flex;
    max-width: 70px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.followButton {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
}

.customLoader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #ff6200;
	width: 12px;
	height: 12px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 10px;
  }

  .chat-video-gift-box li {
    display: flex !important;
    margin-left: 0px;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: auto;
}
.gifts-icon {
  float: left;
  border: 1px solid rgba(220, 220, 220, 0.09);
  border-radius: 4px;
  width: 71px;
  height: 75px;
  text-align: center;
  padding: 8px;
  margin: 8px;
  min-width: 70px;
}
.tootal-coin {
  position: absolute;
  right: 0;
  top: 0px;
}

.dataWrap{
  position: absolute;
  top: 40%;
  left: 50%;
  bottom: 40%;
}
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .chat-video-gift-box {height: 190px;}
  span.noVideoAlert {
    margin: auto;
    color: #6d6d6d;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 18px;
}

video{top: 20px !important}
