.socialLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.facebookWrapper, .googleWrapper {margin: 15px 0px 10px 0px;}

button.facebook-button.metro{
    min-height: 40px;
    min-width: 130px;
    background-color: #4267b2;
	color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}
