[class~=responsive-tab] [class~=uk-active] span,
[class~=responsive-tab] [class~=uk-active]:hover {
	color: #f68e37 !important;
}

.menuSpan{
    line-height: .458333333in;
    opacity: 1;
    text-align: left;
    border-image: none;
    border-right-style: none;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    margin-right: 0pt;
    padding-top: .25pc;
    padding-right: .208333333in;
    padding-bottom: .25pc;
    padding-left: .208333333in;
    transition: color 0.1s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

textarea{
    border: 0px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: top;
    min-height: 80px;
    width: 100%;
    padding: 10px;
}

.uk-form-group{ margin: 10px 0px; }
.input-group {padding: 0px !important;}
.fieldWrap .input-group{min-width: 324px;}
.delete-account-reason textarea{border: 1px solid #eceff5; width: 97% !important;}
.uk-form-group.fieldWrap.imageWrape {display: flex; flex-direction: column};
img .profileImg {height: 150px; width: 150px;}

.form-group.form-group-depth-1.form-group-reason {
    width: 100%;
}
