
.videoWrapper {
    display: flex;
    flex-direction: row;
}
.video-post {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.radioButtonWrapper{
    line-height: .458333333in;
    text-align: left;
    padding-top: .25pc;
    padding-right: .208333333in;
    padding-bottom: .25pc;
    padding-left: .208333333in;
}