span {outline: none;}
.top-bar-link {display: flex; flex-direction: row; justify-content: flex-end;}
header { display: flex !important;}
header.head_search_cont input {height: 39px;}
header.head_user{display: flex; flex-direction: row; flex-flow: row; justify-content: flex-end;}
.dropdown-user-menu {padding:10.5pt 0pt ;}
.dropdown-notifications-headline {display: flex; justify-content: space-between;}
.notificationWrapper {display: flex; padding: .166666667in;}
.buttonWrapper {outline: none; cursor: pointer;}
.warning{display: flex; justify-content: center; align-items: center;}
.customLoader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #ff6200;
	width: 12px;
	height: 12px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 10px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
.dropdown-option-nav span {cursor: pointer;}
.react-datepicker-wrapper .inputIcon {padding-right: 10px;}

.profileMenu{
	padding-right: 13.5pt;
    padding-left: 13.5pt;
    padding-top: .083333333in;
    padding-bottom: .083333333in;
    transition: .3s;
    font-size: .975pc;
    margin: 0px 5px;
    text-decoration: none;
    cursor: pointer;
}

.profileMenu .icon-feather-moon {padding-bottom: 10px;}

.night-mode .custom-link{ color: #c7c7c7 !important; }
.night-mode .btn-night-mode .uk-switch-button:before {
    transform: scale(1.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    transform: translateX(17px);
    background: #62d76b;
}

.my-cart-hadder-total {
	float: right;
    background: #ff8000;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

.night-mode .chat-text-box { color: #c7c7c7 !important; }

.profileMenu input[type="checkbox"].switch  {
	position: absolute;
	/* opacity: 0; */
}

.profileMenu input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: #00B0F2;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

.profileMenu input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

.profileMenu input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

.profileMenu input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

.profileMenu input[type="checkbox"].switch:checked + div {
	width: 94px;
	background-position: 0 0;
	background-color: #3b89ec;
}

.profileMenu input[type="checkbox"].switch + div {
	width: 94px;
	height: 48px;
}


.profileMenu input[type="checkbox"].switch:checked + div {
	background-color: #57BB00;
}

.profileMenu input[type="checkbox"].switch + div > div {
	float: left;
	width: 46px; height: 46px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

.profileMenu input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
}

.profileMenu input[type="checkbox"].bigswitch.switch + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}


input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(46px, 0, 0);
	transform: translate3d(46px, 0, 0);
}

.profileMenu .icon-feather-moon, .profileMenu i.icon-feather-log-out {
    top: .0625pc;
    margin-right: .072916667in;
}
ul.dropdown-user-menu {display: flex; flex-direction: column; justify-content: center;}
ul.dropdown-user-menu li {margin: 8px 0px;}
ul[class~=dropdown-user-menu] li a{ padding-top: 0px !important; padding-bottom: 0px !important;}
.header-menu {color: black; font-size: 18px;  margin-right: 14px !important; cursor: pointer;}
.notification-text.notification-msg-text {
    display: flex;
    flex-direction: column;
}

.opts_icon {cursor: pointer;}

.verified {
	border: 1px solid #fff;
    width: 64px;
    padding: auto;
    padding: 0px 2px;
    margin-top: 20px;
    background: #f76911;
    color: #fff !important;
}
.verify {
	border: 1px solid #888;
    width: 64px;
    padding: auto;
    padding: 0px 2px;
	margin-top: 20px;
	cursor: pointer;
}
img.walletIcon {
    height: 16px;
    margin-right: 10px;
}

.active {
	color: #f76911
}

.activeMenu{
	font-weight: bold;
	color: #ba4b00 !important ;
}

.night-mode span.custom-link.activeMenu{
	font-weight: bold;
	color: #ba4b00 !important ;
}

.night-mode span.actionButton{
   color: #c7c7c7;
}

.night-mode span.profileMenu{color: #c7c7c7 !important}

span.alertIcon {
    height: 16px !important;
    width: 18px !important;
	font-size: 9px !important;
	padding-top: 1px !important;
}

span.message {
    font-size: 12px;
}

.time-ago {
    width: 100%;
    float: right;
    display: contents;
    font-size: 10px !important;
    color: #007791 !important;
    display: flex;
	justify-self: end;
	align-self: flex-end;
	min-width: 98px;
}