.form-group.form-group-depth-1.form-group-search {
    border: 0px solid #fff;
}
.form-group-search .input-group {position: relative; border: 0px solid #fff; }
.form-group-search .input-group span.input-group-addon {position: absolute;
	background-color: #F4F6FC !important; top: 8px; left: 4px;}
	
.night-mode	.form-group-search .input-group span.input-group-addon {position: absolute;
	background-color: #08090f !important; top: 8px; left: 4px;}
	
	.form-group-search label.control-label span{ display: none; }	
	.head_search_cont {border: 0px solid #fff; display: flex; flex-direction: row;}
	.form-group-search .input-group{ border-radius: 40px !important;}
	.crossSearch img {
		height: 18px;
		position: absolute;
		top: 14px;
		right: 12px;
		display: none;
	}

	span.crossSearch.showCross { display: block; }
	span.before {
		position: absolute;
		top: 5px;
		left: 10px;
		z-index: 12;
	}
	span.after {
		position: absolute;
		right: 10px;
		display: none;
		height: 18px;
	}
	span.after.showCross {
		display: block;
	}