

@import "../../style/form.css";


span.input-group-addon {
    background-color: #ffffff !important;
}

.form-group label.control-label {
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
    font-family: 'Alata', sans-serif;
    font-size: 16px;
}

.form-group input {font-family: 'Alata', sans-serif; width: 100%;}
.form-group input {font-family: 'Alata', sans-serif;}
.loginWrapper{min-height: calc(100vh); }
.loginWrapper.button.warning{ border-radius: 4px;} 
.checkboxLabel span, .radioLabel span {font-family: 'Alata', sans-serif;}

.actionPointer {cursor: pointer;}

.date-input-group span.inputIcon{padding: 0px 5px 5px 0px;}
.main_content_inner.emailVerifyWrapper {
    min-height: 48vh;
}
.main_content_inner.emailVerifyWrapper span {
    margin: 20px 0px;
    color: #ff6200;
}

