.headerWrapper {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span.add-card-btn.button.default {
    margin-right: 10px;
}
.childData{min-height: 38vh}
.ButtonWrapper {cursor: pointer;}
.modal .modalInnerContent {max-height:70%; margin-top: 40px; min-height: 75vh;}
.alert {margin: 10px; color:#ff6200;}
.cardWrapper {margin: 20px 0px 40px 0px;}
.actionWrapper{display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}
.actionWrapper span {
    font-size: 18px;
    margin: 10px;
}
tr{background: #ffffff !important;}